body {
    text-align: center;
    background-color: darkturquoise;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
}
h1{
    font-weight:bolder;
}

form{
    background-color: black;
    color: darkturquoise;
    display: inline-block;
    font-size: 18px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
.error {
    color: red;
}
input{
    border: 2px solid darkturquoise;
}

input[type=submit]{
    color: white;
    background: darkturquoise;
    border: 2px solid white;
    border-radius: 10px;
}