body {
    text-align: center;
    background-color: darkturquoise;
    color: black;
    font-family: fantasy;

}
h1{
    font-weight:bolder;
}
a{
    color: black;
}
form{
    background-color: black;
    color: darkturquoise;
    display: inline-block;
    font-size: 18px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}
.error {
    color: red;
}

.entry{
    background-color: black;
    color: darkturquoise;
    display: inline-block;
    font-size: 18px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}

.entry a{
    color: white;
}

input{
    border: 2px solid darkturquoise;
}

textarea{
    border: 2px solid darkturquoise;
}

input[type=submit]{
    color: white;
    background: darkturquoise;
    border: 2px solid white;
    border-radius: 10px;
}